<!DOCTYPE html>
<html>
<head>
    <title>Add Bus</title>
</head> 
<body>
    <h1>Add Bus</h1>
    <form action="/add_bus" method="POST">
        <label>Bus Number</label>
        <br>
        <input type="text" name="bus_number">
        <br><br>

        <label>Bus Name</label>
        <br>
        <input type="text" name="bus_name">
        <br><br>

        <label>Source</label>
        <br>
        <input type="text" name="source">
        <br><br>

        <label>Destination</label>
        <br>
        <input type="text" name="destination">
        <br><br>
        
        <label>Total Seats</label>
        <br>
        <input type="number" name="seats">
        <br><br>

        <button type="submit"> Add Bus </button>

    </form>
</body>   
</html>