<!DOCTYPE html>
<html>
<head>
    <title>Book Bus </title>
</head>
<body>
    <h1>Bus Booking</h1>

        <form  method="POST">

            <label>Username </label>
            <br>
            <input type="text" name="username">
            <br><br>

            <label>Bus Number </label>
            <br>
            <input type="text" name="bus_number" value="{{bus_number}}" readonly >
            <br><br>

            <label>Seate Number</label>   
            <br>
            <input type="text"  name="seat_number">
            <br><br>

            <button type="submit">Book Seat</button>

        </form>
            
</body>
</html>