<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        .login{
            background: rgb(200, 198, 198);
            box-shadow: 2px 4px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 260px;
            margin-right: 260px;  
            height: 250px;
            border-radius: 10px;
        }
         
    </style>
</head>    
<body style="background-color:#a19f9f ;">
    <h1 align="center" style="color: #080702;">Login</h1>

   
        <div>
            <div class="login">
                <form action="/login" method="POST">
                    <label>Username</label>
                    <br>
                    <input type="text" name="username" required>
                    <br><br><br>

                    <label>Password</label>
                     <br>
                     <input type="password" name="password"required>
                    <br><br><br>

                    <button style="background-color: rgb(69, 186, 69);color: azure;" type="submit">Login</button>
                </form>
            </div>
        </div>
    
</body>
</html>