<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>    
<body style="background-color:#daba51 ;">
    <h1 style="color: #080702;">Login</h1>

    <form action="/login" method="POST">
        <label>Username</label>
        <br>
        <input type="text" name="username">
        <br><br>

        <label>Password</label>
        <br>
        <input type="password" name="password">
        <br><br>

        <button  style="background-color: rgb(69, 186, 69);color: azure;" type="submit">Login</button>
    </form>
</body>
</html>