<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body style="background-color: rgb(241, 188, 118);">
    <h1 style="color: rgb(22, 23, 23);">User Registration</h1>

        <form action="/register" method="POST">

            <label>Username </label>
            <br>

            <input type="text" name="username" required>
            <br><br>

            <label>Password</label>   
            <br>
            <input type="password"  name="password" required>
            <br><br>

            <button style="color: rgb(249, 248, 248);background-color: brown;" type="submit">Register</button>

        </form>
            
</body>
</html>