<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <style>
        .register{
            background: rgb(165, 165, 165);
            box-shadow: 2px 4px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 300px;
            margin-right: 300px;  
            height: 250px;
            border-radius: 10px;
        }
    </style>
</head>
<body style="background-color: rgb(222, 221, 220);">
    <h1 align="center " style="color: rgb(22, 23, 23);">User Registration</h1>
        <div>
            <div class="register">
                <form action="/register" method="POST">

                    <label>Username </label>
                    <br>

                    <input type="text" name="username" required>
                    <br><br>

                    <label>Password</label>   
                    <br>
                    <input type="password"  name="password" required>
                    <br><br>

                    <button style="color: rgb(249, 248, 248);background-color: brown;" type="submit">Register</button>

                </form>
            </div>
        </div>
            
</body>
</html>