<!DOCTYPE html>
<html>
<head>
    <title>View Buses</title>
</head> 
   
<body style="background-color: rgb(169, 240, 216);" align="center">
    <h1 style="color: rgb(6, 97, 20);">Available Buses</h1>

    <a href="/">
        <button style="float: right;">Logout</button>
    </a>
    <table style="background-color: rgb(191, 231, 191);" border="1" cellpadding="10" align="center">
        <tr>
             <th>Bus Number</th>
             <th>Bus Name</th>
             <th>Source</th>
             <th>Destination</th>
             <th>Total Seats</th>
             <th>Available Seats</th>
        </tr>
        {% for bus in buses %}
        <tr>
            <td>{{bus[1]}}</td>
            <td>{{bus[2]}}</td>
            <td>{{bus[3]}}</td>
            <td>{{bus[4]}}</td>
            <td>{{bus[5]}}</td>
            <td >{{bus[6]}}</td>
            <td style="background-color: rgb(63, 121, 4);">
                <a style="color: aliceblue;"  href="/book_bus/{{bus[1]}}">Book Seat</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>