<!DOCTYPE html>
<html>
<head>
    <title>View Buses</title>
</head>    
<body>
    <h1>Bookings</h1>
    <table border="1" cellpadding="10">
        <tr>
             <th>User Name</th>
             <th>Bus Number</th>
             <th>Seate Number</th>
            
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{booking[1]}}</td>
            <td>{{booking[2]}}</td>
            <td>{{booking[3]}}</td>
            
        </tr>
        {% endfor %}
    </table> 
         
</body>
</html>